body{
    background-image: url(../imagens/background.jpg);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: 100% 100%;
    background-attachment: fixed;

}

.inputs{
  width: 235px;
  height: 25px;
  border-radius: 3px;
  

}

.formulario_cadastro{
    color: blanchedalmond;
    background-color: #8B4513;
    border: transparent;
    position: absolute;
    margin-top: 210px;
    margin-left: 29.5%;
    margin-bottom: 2%;
    padding-left: 25px;
    padding-top: 20px;
    padding-right: 25px;
    padding-bottom: 20px; 
    width: 500px;
    border-radius: 15px;
    box-shadow: 7px 7px 10px #333;

}

.formulario_login{
  color: blanchedalmond;
  background-color: #8B4513;
  border: transparent;
  position: absolute;
  margin-top: 210px;
  margin-left: 38%;
  margin-bottom: 2%;
  padding-left: 25px;
  padding-top: 20px;
  padding-right: 25px;
  padding-bottom: 20px; 
  width: 250px;
  border-radius: 15px;
  box-shadow: 7px 7px 10px #333;

}

.logo{
    position: absolute;
    width: 200px;
    height: 200px;
    margin-left: 42%;
    margin-top: 2%;

}

.button_cadastro {
    background-color: #333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 8px;
    margin-left: 33.5%;

  }

  .button_login {
    background-color: #333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 8px;
    margin-left: 22%;

  }

  .button_cadastro:hover{
    background-color: white;
    color: #8B4513;

  }

  .button_login:hover{
    background-color: white;
    color: #8B4513;

  }

  .navegar{
    background-color: #8B4513;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

  }

  .navegar a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

  }

  .navegar a:hover{
    background-color: #333;
    color: white;

  }